[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
default-authentication-plugin = mysql_native_password

# custom settings for performance
innodb_buffer_pool_size = 256M
max_connections = 100
